/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;;
}

h1,
h2,
p {
  color: purple;
}


button {
  padding: .4rem;
  color: white;
  background-color: purple;
  font-family: Tahoma, sans-serif;
  margin: auto;
  border: none;
  margin-left: 1rem;
  border-radius: 5px;
}

.button-delete {
  background-color: #990000;
}

table {
  border-spacing: 0;
}

th {
  border-bottom: 1px solid black;
  padding: 4px;
}

.rating {
  color: #a07726;
}
