<p *ngIf="condicao; else elseBlock">True</p>

<ng-template #elseBlock>
  <p>
    False
  </p>
</ng-template>

<hr>

<p *ngIf="conditionClick">
  True
</p>

<p *ngIf="!conditionClick">
  False
</p>

<button (click)="onClick()">Clicar</button>

<ul>
  <li *ngFor="let item of list; let i = index;">[{{i + 1}}] O signo da {{ item.nome }} é {{ item.signo }}.</li>
</ul>

<button (click)="onClickAddList()">Adicionar</button>

<input type="text" [(ngModel)]="nome">

<div [ngSwitch]="nome">
  <p *ngSwitchCase="'Maria'">
    Maria
  </p>

  <p *ngSwitchCase="'Joaninha'">
    Maria
  </p>

  <p *ngSwitchDefault>
    Deu ruim sua busca... :(
  </p>



</div>
